
$cWhite: rgb(255, 250, 250);
$cBlack: black;
$cCream: burlywood;
$cGray: #333333;

/*html {
    width: 100%;
}*/
body {
    position: relative;
    background: url(./black2.jpg);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

 
    & .introduction {
        //text-align: center;
        width: 100vw;

        & .backimage {
            width: 100%;
            height: 800px;
            background: url(./hakodate.jpg);
            background-size: cover;
            background-position: center;

            & .myname {
                color: $cWhite;
                padding-top: 230px;
                font-size: 50px;
                
                & .lines {

                    & span{
                        display: inline-block;
                        animation: pointlinedelay 2.5s infinite;
                    }

                    & .line1 {
                       animation-delay: 0s;
    
                    }
                    & .line2 {
                        animation-delay: 0.6s;
                    
                    }
                    & .line3 {
                        animation-delay: 1.2s;
        
                        }
    
                    @keyframes pointlinedelay {
                        0%{
                         opacity: 1;
                        }
                        25%{
                         opacity: 1;  
                        }
                        50%{
                         opacity: 0;
                        }
                        100%{
                         opacity: 0;
                        }
                    }

                }
                
            }
        }

        & .welcome {
            
            & .myface {
                margin: 0 auto;
                height: 200px;
                width: 200px;
                border-radius: 20px;
                margin-bottom: 100px;
                background: url(./myFace.jpg);
                background-size: cover;
                transition: all 0.1s;

                &:hover {
                    background: url(./myFace6.jpg);
                    background-size: cover;

                }
            }
            & h2 {
                display: inline-block;
                font-size: 30px;
                color: $cWhite;
                border: 1px solid $cWhite;
                border-radius: 7px;
                padding: 6px 10px 10px;

            }
            & #fullname {
               font-size: 30px;
               color: $cWhite;
               margin-bottom: 0px;
            }
            & #kanjiname {
                font-size: 20px;
                color: $cWhite;
             }
             & #introd {
                 width: 100%;
                 height: 200px;
             }
        }
    }
    & .section {
       /* position: relative;
        background: url(./blue2.jpg) center top/cover no-repeat;
        height: 400px;
        margin-top: 10px;
        margin: 40px 30px;
        //text-align: center;
        font-size: 30px;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        border-radius: 7px;*/
        
        

        & .properties {

            & .section-title h2 {
                display: inline-block;
                font-size: 30px;
                color: $cWhite;
                border: 1px solid $cWhite;
                border-radius: 7px;
                padding: 6px 10px 10px;
                
            }
        }

        #buttons {

        & .bt {

            background-color: transparent;
            color: $cWhite;
            width: 130px;
            height: 60px;
            margin: 50px 10px;
            font-size: 20px;
            font-weight: 600;
            font-family: 'Times New Roman', Times, serif;
            border-radius: 10px;
            letter-spacing: 2px;
            cursor: pointer;
            transition: all 0.8s;
            //box-shadow: 2px 2px 0 0 black;
        
                &:hover {
                    letter-spacing: 4px;
                    //transform: translate(2.5px, 2.5px);
                    border:  none;
                    box-shadow: none;
                }

            }
            

            & .pur-bt {
                border: 1px solid yellow;
            }
            & .red-bt {
                border: 1px solid red;
            }
            & .gr-bt {
                border: 1px solid lightblue;
            }
            
        }

    }
}
